/* Google Font's Proximanova */
@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 400;
  src: local('Proximanova light'), local('Proximanova-Light'), url('../fonts/proximanova-light-webfont.ttf') format('truetype');
}
/* Google Font's Proximanova Bold */
@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 700;
  src: local('Proximanova Semi Bold'), local('Proximanova-Semi-Bold'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');
}
