<div class="key_input_container">
    <div>
        <div class="key_auth__field">
            <span class="key_auth__label">Tenant Token:</span>
            <input class="oauth-client-id" type="text" name="client-id" style="width: 85%;">
        </div>
        <div class="key_auth__field">
            <span class="key_auth__label">User Token:</span>
            <input class="oauth-client-secret" type="text" name="client-secret" style="width: 85%;">
        </div>
    </div>
</div>